<plugin name='crypto' version='2.0.1-grails2.4-SNAPSHOT' grailsVersion='2.2.3 &gt; *'>
  <author>Ricardo J. Mendez and Robert Fischer</author>
  <authorEmail>ricardo@arquetipos.co.cr</authorEmail>
  <title>Encryption plugin for Grails</title>
  <description>Masks encryption and decryption functions, currently integrated with Bouncy
Castle. This version provides classes for PGP and Blowfish, as well as a
tool for both generating random passwords and salting / verifying salted
passwords.
</description>
  <type>CryptoGrailsPlugin</type>
  <resources>
    <resource>EncryptedData</resource>
    <resource>SimplePasswordManagerService</resource>
    <resource>HexCodec</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.bouncycastle' name='bcprov-ext-jdk15on' version='1.47' />
      <dependency group='org.bouncycastle' name='bcpg-jdk15on' version='1.47' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>